body,
p,
blockquote,
button,
input {
  font-family: 'Nunito',
    'Helvetica Neue',
    'Arial',
    sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  color: inherit;
}

body {
  color: var(--color__grey-40);
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: 'Montserrat Alternates',
    'Gill Sans',
    'Avantgarde',
    'TeX Gyre Adventor',
    'URW Gothic L',
    sans-serif;
}

h1,
.--h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5em 0 0 0;
  padding: 0;
}

h2,
.--h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.5em 0 0 0;
  padding: 0;
}

h3,
.--h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5em 0 0 0;
  padding: 0;
}

h4,
.--h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5em 0 0 0;
  padding: 0;
}

h5,
.--h5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5em 0 0 0;
  padding: 0;
}

h6,
.--h6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0.5em 0 0 0;
  padding: 0;
}